<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card-body" style="font-size: medium; max-width: 75%;">
                                <br><br>
                                <h3>Hayden Sandau</h3>
                                <h4>CU Boulder Computer Science Student</h4>
                                <small>
                                    2225 Tyrrhenian Court, Longmont Colorado <br>
                                    720-899-0014 <br>
                                    hayden1sand@gmail.com 
                                </small>
                                <br><br><h5>Skills</h5>
                                I am a curious, flexible, hardworking student that has always loved computers, math, science and English.  I would love to help a company maintain and improve their IT and computer systems while also learning more about real-world systems and situations.
                                I am fluent in programming in C, C++, C#, Java, Python, JavaScript, Lua, and more.
                                <br><br><h5>Relevant Computer Experience</h5>
                                <br><h6><b>Programming Experience</b></h6>
                                I have had extensive coding experience in and out of school since a young age.  During high school and college, I have taken several advanced coding classes, as well as coding on my own for video games and other fun projects.
                                <br><br><h6><b>Education</b></h6>
                                I am currently studying computer science at CU Boulder, learning the more formal aspects of computer science that I didn't learn when self-teaching how to code.
                                <br><br><h6><b>STEM Fundamentals of Cybersecurity Camp through SVVSD</b></h6>
                                <small>June 2023</small><br>
                                Participated in a week-long camp getting hands-on experience with common cybersecurity practices and learning about techniques to protect computers.  At the end of the week, there was a competition to fix and protect a computer the fastest and my group got the highest score.
                                <br><br><h5>Work Experience</h5>
                                <br><h6><b>Muddy Mint, Longmont</b><small> - Order fulfilment specialist</small></h6>
                                <small>September 2021 - December 2023</small><br>
                                Prepared and packaged soaps for wholesale deliveries, including preparing appropriate soaps for each order, cleaning and beveling them, wrapping each soap bar in the appropriate label, packaging soap into bundles of four, arranging the bundles into boxes, and sealing the boxes for shipping.
                                <br><br><h5>Education</h5>
                                <br><h6><b>University of Colorado, Boulder</b></h6>
                                <small>Ongoing - Computer science major</small>
                                I am currently attending CU Boulder for Computer Science since August of 2025.
                                <br><br><h6><b>Embry-Riddle Aeronautical University, Prescott, AZ</b></h6>
                                <small>Autust 2024 - May 2025</small><br>
                                Spent one year studying Aerospace Engineering before transferring.  Relevant courses include Intro to Computing, Technical Communication, and Calculus 3.  Dean’s list for both semesters.  GPA: 3.9
                                <br><br><h6><b>Longmont High School</b></h6>
                                <small>August 2020 - May 2024</small><br>
                                Graduated 4th of 280 students in my class (Honor Award) with a heavy load of AP and college courses covering Computer Science, Math, Science and English.  Also enjoyed playing trumpet in both the concert and marching bands.  GPA: 4.0, weighted GPA 4.525
                                <br><br><br>
                            </div>
                        </div>
                    </div>
</body>
</html>
