<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hayden Sandau</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../resources/css/style.css">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="./home.html">Hayden</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./hobbies.html">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./projects.html">Projects</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./resume.html">Resume</a></li>
                        </ul>
                    </li>
                    <!--
                    <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                    -->
                </ul>
                <span class="navbar-image">
                    <img src="../resources/img/ixlogoclear.png" alt="IX Logo" height="45">
                </span>
                <!--
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
                </div>
            </div>
        </nav>
        <!-- End of nav bar -------------------------------------------------->
        <div class="content">
            <div class="container">
                <br><h3>Space Tower Defense Download</h3><br>
                <p>
                    Space tower defense was a prototype game developed in Unity by a few friends and I.
                    Please note that this 'game' is a prototype, and only features some of the basic mechanics of a tower defense game.
                    It also lacks balance, polish, and many other features that would be expected in a full game.
                </p>
                <h3>Things to note beforehand</h3>
                <ul>
                    <li>When downloading from google drive, it may notify you that the file is too big to scan for viruses.  If so, just press 'continue downloading'.</li>
                    <li>The menus are very bright blue, so it might hurt your eyes.</li>
                    <li>The best map is 'Hayden' since the other maps may not be updated with the later systems implemented.</li>
                    <li>When placing down a tower, you can press 'Esc' to stop placing.</li>
                    <li>There is not a button to close the game, so you will need to press 'Alt + F4' for windows or 'Cmd + Q' for mac or some other keyboard shortcut to close the game.</li>
                </ul>
                <br>
                <h3>Download instructions</h3>
                <ul>
                    <li><a href="https://drive.google.com/file/d/1LyeoV1b6d7kx_osoRL633oxn-RNdXO79/view?usp=drive_link" target="_blank">Click here to go to the download page.</a></li>
                    <li>Press the download button on the top left of the new page.</li>
                    <li>Once downloaded, extract the zip file.</li>
                    <li>Run First.exe in the extracted file.</li>
                    <li>Once you press play, I would recommend selecting "Hayden" in the map selection.</li>
                    <li>Enjoy!</li>
                </ul>
                    
            </div>
            <br><br>
        </div>
        <!-- End of content, start of footer --------------------------------->
        <footer>
            <div class="container">
                <small>
                    <b>Contact me:</b><br>
                    <a href="https://www.instagram.com/not_hayden978/" target="_blank" class="btn btn-outline-info btn-sm">
                        <img src="../resources/img/instagram.png" height="20" alt="Instagram"> @not_mrnobody978
                    </a><br>
                    <a href="mailto:hayden1sand@gmail.com" target="_blank" class="btn btn-outline-info btn-sm">
                        <img src="../resources/img/mail.png" height="20" alt="Email"> hayden1sand@gmail.com
                    </a><br>
                    <small>
                        <a href="https://www.flaticon.com/free-icons/link" title="link icons">Link icons created by Creaticca Creative Agency - Flaticon</a>
                    </small>
                </small>
            </div>
        </footer>
    </body>
</html>
